body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: #ffffff;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #020617;
}

.logo {
  color: #38bdf8;
}

.link {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.link.active {
  color: #38bdf8;
}

/* Layout */
.container {
  padding: 20px;
}

/* Cards */
.card {
  background: #020617;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.profile {
  width: 120px;
  border-radius: 50%;
}

/* Skills */
.skills span {
  margin: 5px;
  padding: 5px 10px;
  background: #1e293b;
  display: inline-block;
}

/* Projects */
.project-card {
  background: #020617;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}